@charset "utf-8";

html {
  font-size: 94%;}
#wrapper {
  background: linear-gradient(126deg, #F25F5F, #F2A85F 4%, #F2A85F 84%, #F2F25F, #5FF2F2, #F25FF2, #F25F5F);
  height: auto !important ;min-height: 100vh;overflow-y: hidden;position: relative;width: 100%;
  text-align: center;margin: 0 0 -10px 0;}
#container {
  width: 1050px;height: 100%;margin: 0 auto;background: rgba(255, 255, 255, 0.3);}
#boxB {
  width: 88%;padding: 0 1.5%;margin: 0 4.5%;float: left;border: #A8A8A8 solid 0;background: #FFFEF0;
  padding-bottom: 62px;}
#footer {
  position: absolute;bottom: -10px;width: 100%;height: 1.1rem;padding: 10px 0;background: #C1C1C1;clear: both;
  display: block;border-top: 2px solid #F25F5F;}
.rowcol {
  width: 35rem;}
.small {
  width: 1050px;height: 100vh;}
iframe {
  margin: 8px 20px 0 20px;transform: scale(.8);transform-origin: 0 0;}
#full iframe {
  height: 50rem;margin:8px 20px -10rem 20px;width: 1050px;}
