@charset "utf-8";

html,body {
  background: #FFFEF0;width: 100%;height: 95%;margin: 0;text-align: center;word-wrap: break-word;overflow-wrap: break-word;}
div {
  width: 960px;font: normal 15px meiryo, sans-serif;
  letter-spacing: .03rem;margin: 10px auto;padding: 1rem;border: 0;text-align: left;}
p {
  font-weight: bold;line-height: 1.5;}
span {
  display: inline-block;}
td,th {
  border-right: dashed 1px #CCC;border-collapse: collapse;line-height: 1.71;}
table,th {
  border-bottom: solid 1px #333;border-top: solid 1px #333;border-collapse: collapse;}
td:nth-of-type(4n),th:nth-of-type(4) {
  border-right: none 0px;}
tr:nth-of-type(odd) {
  background-color: #E0FEE0;}
td {
  text-align: left;padding: .2rem .8rem;}
th {
  text-align: center;padding: .2rem .8rem;background-color: #A8F25F;white-space: nowrap;}
div.table {
  text-align: center;}
.ft{
  font-weight: bold;}
.wid1 {
  width: 5rem;}
.wid2 {
  width: 26rem;}
.wid3 {
  font-size: 15px;width: 3rem;}
.wid4 {
  font-size: 14px;width: 12rem;}
.itb {
  word-break: break-all;}
.itc {
  font-size: 14px;padding: .2rem 0rem;text-align: center;white-space: nowrap;}
.itd {
  font-size: 13px;padding: .2rem .4rem;word-break: break-all;}
.hid0 {
  visibility: hidden;}
